# Dependencies
node_modules
.pnpm-store

# Build
# dist
build
.next
out

# Environment
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# Generated static data
# public/data/

# OS
.DS_Store
Thumbs.db
